<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Permissions-Policy" content="interest-cohort=()"/>
    <title>Bulls'n'Cows</title>
    <link rel="stylesheet" href="bullcow_style.css">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Delius&display=swap" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7DEF75RYS4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-ZRML8KE2HN');
    </script>
</head>
<body>
    <div id="app" v-cloak>
        <div
            ref="switcher"
            class="switcher"
            @click="switcher"
            >
            <div v-if="!rules" class="rules">
                <span v-if="english">Rules</span>
                <span v-else>Правила</span>
            </div>
            <div v-else class="game">
                <span v-if="english">Game</span>
                <span v-else>Игра</span>
            </div>
        </div>
        <div class="title">
            <span v-if="english">Bulls and Cows</span>
            <span v-else>Быки и Коровы</span>
        </div>

        <button ref="new_game" @click="new_game" class="new_game" :disabled="rules">
            <span v-if="english">New<br>game</span>
            <span v-else>Новая<br>игра</span>
        </button>

        <audio ref="music" src="kalambur-bar.mp3" loop></audio>
        <!-- main game field -->
        <div v-if="!rules" class="field">
            <div v-if="invalid" class="invalidMessage">
                <span v-if="english">Please, enter 4-digit (all different) number</span>
                <span v-else>Введите 4-значное число с неповторяющимися цифрами</span>
            </div>
            <div class="deed">
                <input
                    type="number"
                    inputmode="numeric"
                    ref="input_num"
                    class="input_num"
                    v-model="guess"
                    @keyup.enter="check_num"
                    >
                <button
                    ref="check_num"
                    class="check_btn"
                    @click="check_num"
                    :disabled="win"
                    :style="disable_btn"
                    >
                    <span v-if="english">Make a move</span>
                    <span v-else>Ваш ход</span>
                </button>
                <div
                    ref="play"
                    class="play feature"
                    @click="play"
                    >
                </div>
                <div
                    ref="language"
                    class="language feature"
                    @click="language"
                    >
                    <span v-if="english" ref="eng" class="lang eng">рус</span>
                    <span v-else ref="ru" class="lang ru">eng</span>
                </div>
            </div>
    
            <table>
                <thead>
                    <tr>
                        <th>
                            <span v-if="english">#</span>
                            <span v-else>№</span>
                        </th>
                        <th>
                            <span v-if="english">Guess</span>
                            <span v-else>Число</span>
                        </th>
                        <th>
                            <span v-if="english">Bulls</span>
                            <span v-else>Быки</span>
                        </th>
                        <th>
                            <span v-if="english">Cows</span>
                            <span v-else>Коровы</span>
                        </th>
                    </tr>
                </thead>
                <tbody v-if="render">
                    <tr v-for="(move, i) in moves" :class="i" :key="i">
                        <td class="t_count">
                            <span v-if="move.bulls !== ''">{{ i + 1 + '.' }}</span>
                        </td>
                        <td class="t_guess">{{ move.num }}</td>
                        <td class="t_bulls">{{ move.bulls }}</td>
                        <td class="t_cows">{{ move.cows }}</td>
                    </tr>
                    
                </tbody>
            </table>

            <div class="assist">
                <div ref="digit" class="digit" v-for="num in nums" :style="lemon" @click="digit_color($event)"
                    >{{ num }}
                </div>
            </div>
            
        </div>
        <!-- game description field -->
        <div v-else class="about">
            <div v-if="english">
                <h3>Game Rules</h3>
                <p>I choose a 4-digit (all different from 0 to 9) secret number.
                    You try to guess my secret number and I give the number of matches.
                    If the matching digits are in their right positions, they are "Bulls",
                    if in different positions, they are "Cows".
                </p><br>
                <h3>Example</h3>
                <p>Secret number: 2019</p>
                <p>Your try: 9032</p>
                <P>Result: 1 bull and 2 cows (the bull is "0", the cows are "9" and "2")</P>
            </div>
            <div v-else>
                <h3>Правила игры</h3>
                <p>Я загадываю четырехзначное число с неповторяющимися цифрами от 0 до 9 (0 может стоять на первом месте).
                    Вы пытаетесь угадать загаданное мною число. В ответ я сообщаю число отгаданных цифр,
                    стоящих на своих местах (число Быков) и число отгаданных цифр, стоящих 
                    не на своих местах (число Коров).
                </p><br>
                <h3>Пример</h3>
                <p>Я загадал число 2019</p>
                <p>Вы сделали ход 9032</p>
                <P>Результат: 1 бык (цифра 0) и 2 коровы (цифры 9 и 2)</P>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="bullcow_script.js"></script>
</body>
</html>
